*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.flower-container{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 20px 120px;
    justify-content: space-around;
    height: 380px;
   margin-top:20px ;
}
.head-tittle{
    width: 650px;
    color: #272727;
    font-family: Lato;
    font-size: 75px;
    font-style: normal;
    font-weight: 800;
    
}
.head-text{
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.btn-primary{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 5px;
    background: #E55473;
    gap: 10px;
    border: none;
    padding: 5px;
    margin-top: 10px;
}
.head-img{
    width: 300px;
    height: 400px;
    padding-bottom: 0px;
}

/* Our Featured Flowers */
.featured-part{
    margin-top: 100px;
}

.feature-tittle{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
   
}
.head-text-feature{
    text-align: center;
    width: 500;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.fflower{
    width: 200px;
    height: 300px;
}
.featured-flowers{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.fflower-text{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration: underline;

}
#style0{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 10px 20px;
padding-bottom: 0;
margin: 15px;
}
#style1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
padding: 10px 20px;
padding-bottom: 0;
margin: 15px;
}
#style2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
padding: 10px 20px;
padding-bottom: 0;
margin: 15px;
}
/* nomarks  */
.nomarks{
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin: 70px 200px;
padding: 50px;


}
.hudai{
   
   text-align: center;
}
.hudai-img{
    width: 60px;
    height: 60px;
    j
}
.hudai-text{

}
/* hot deal  */
#hot-deal-tittle{
    color: #272727;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
#intro-text{
    align-items: center;
    padding: 100px;
    text-align: center;
    padding-left: 50px;
}
span{
    color: #E55473;
}

/* insta section  */
.insta-part{
    margin-top: 100px;
}
.insta-img{
    width: 220px;
    margin-right: 10px;
    margin-top: 20px;

}
.insta-img-container{
    margin-left: 200px;
    
}
.get-deals-part{
    text-align: center;
    background-image: url('./Rectangle\ 9.png');
    width: 1000px;
   height: 350px;
    border-radius: 8px;
   margin: 100px 170px;
   
}
.input-search{
    width: 500px;
    height: 40px;
    padding: 10px;
    border: none;


}
.search-box-text{
    padding-top: 90px;
    padding-bottom: 30px;
    
}
.footer-text{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 30px;
}
.footer-part{
height: 200px;
background: #111010;;
padding-top: 100px;

}
#footer-tittle{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
#footer-description{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.Shop{
    color: white;
}